<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">
        Esta API foi contruída em ASP.NET - web framework para construção de Web sites e aplicações Web usando HTML, CSS e JavaScript.
        Ela disponibiliza endpoints para:
    </p>
    <p>1 - Colocação de pedidos de Pizza com especificação de 3 tamanhos, 3 sabores.</p>
    <p>2 - Listagem de todos os pedidos feitos</p>
    <p>3 - Confirmaçao dos detalhes de um determinado pedido</p>
    <p>4 - Adição de até 3 personalizações opcionais extras, uma de cada vez.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Ver mais sobre ASP.NET&raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Documentação da API</h2>
        <p>A documentaçãio da API está acessível através do menu API no alto da página.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>*@
    </div>
</div>
